@model List<Recipe>
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>

<div class="container mt-10">
    <div class="row col-12">
        <ul class="list-group col-12" style="margin-top:100px;">
            @foreach (var recipe in Model)
            {
                <li class="list-group-item">
                    @recipe.name
                    <a asp-area="" asp-route-id="@recipe.id" asp-controller="Recipe" 
                       asp-action="UpdateSpecific" class="float-right btn btn-warning">
                        Edit
                    </a> 
                </li>
            }
        </ul>
    </div>
    <a href="/Dashboard" type="button" class="btn btn-danger">Back</a>
</div>
