<input class="form-control" type="text" name="searchType"
       [(ngModel)]="searchType" (ngModelChange)="search()" placeholder="Enter type to search">

<table class="table">
  <thead class="thead">
  <tr>
    <th scope="col">Author</th>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
    <th scope="col">Recipe</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let recipe of recipes">
    <td>{{recipe.author}}</td>
    <td>{{recipe.name}}</td>
    <td>{{recipe.type}}</td>
    <td>{{recipe.recipe}}</td>
    <td>
      <a routerLink="/edit/{{recipe.id}}">
        <button class="btn btn-outline-info">Update</button>
      </a>
    </td>
    <td>
      <a>
        <button class="btn btn-outline-warning" (click)="onDeleteClicked(recipe.id)">Delete</button>
      </a>
    </td>
  </tr>

  </tbody>
</table>

